<%= render 'shared/header', heading: 'Register' %>

<div class='flex flex-col justify-start items-center h-[100vh]'>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "flex flex-col justify-start items-center gap-4" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field flex justify-start items-center">
      <%= f.file_field :picture, class: "hidden", id: "file-upload", accept: "image/*" %>
      <%= label_tag :picture, class: 'upload-icon', for: 'file-upload' do %>
        <div class='border flex justify-center items-center bg-gray-400 text-text-primary rounded-full h-[100px] w-[100px]'><i class="fas fa-user fa-2x"></i></div> Upload Picture
      <% end %>
    </div>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, placeholder: "Full Name", class: "rounded" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: "rounded" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "rounded" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class: "rounded" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
