<div id="<%= dom_id group %>" class='border border-orange-500 w-full'>
  <div class='flex justify-start items-center border w-auto gap-4 p-4'>
    <p class="my-4 h-[100px] w-[100px] rounded border">
      <%= image_tag(group.icon.variant(resize: "100x100", quality: 80), alt: "Group Icon") if group.icon.attached? %>
    </p>


    <p class="my-4">
      <%= group.name %>
    </p>
  </div>

  <% if action_name != "show" %>
    <div class='p-4 border'>
    <%= link_to "Group details", group, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this group", edit_group_path(group), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
  <% end %>
</div>