<section class='border-2 block w-full rounded p-2'>  
  <div class='border-amber-500'>
    <%= link_to category, class: "block mb-2 cursor-pointer border-orange-500" do %>
      <div id="<%= dom_id category %>" class='flex justify-between items-center'>
        <div class='flex justify-start items-center w-full gap-4'>
          <div class="h-[70px] w-[70px] border rounded flex justify-center items-center">
            <% if category.icon.attached? %>
              <%= image_tag(url_for(category.icon), alt: "Category Icon", class: "fas fa-user fa-2x h-full w-full object-cover") %>
            <% else %>
              <i class="fas fa-user fa-2x"></i>
            <% end %>
          </div>

          <p class="">
            <%= category.name %>
          </p>
        </div>
        <p><strong>$</strong><%= category.financial_transactions.sum(:amount) %></p>
      </div>
    <% end %>
  </div>

  <%= render partial: 'shared/edit_and_delete_buttons', locals: { category: category } %>
</section>