<%= form_with(model: category, local: true, multipart: true, class: "flex flex-col justify-start items-start") do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation" class="bg-red-50 w-full text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
   
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>  

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5 border-b w-[350px]">
    <%= f.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder: 'Your name' %>
  </div>

  <div class="field flex justify-start w-full border-orange-300 my-8 items-center px-[2rem]">
    <% if category.new_record? %>
      <%= form.file_field :icon, class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full', onchange: 'showPreview(event)' %>
    <% else %>
      <%= f.file_field :icon, class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full', onchange: 'showPreview(event)' %>
    <% end %>
  </div> 

  <div id="preview-container" class="hidden my-8">
    <div class='border-2 p-4 border-dashed h-[300px] w-full flex justify-center items-center'>
      <img id="preview-image" src="#" alt="Image Preview" />
    </div>
  </div>

  <div class="inline">
    <%= f.submit "Save", class: "rounded py-3 px-8 text-base bg-green-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>

<script>
  function showPreview(event) {
    var file = event.target.files[0];
    var reader = new FileReader();
    var previewContainer = document.getElementById('preview-container');
    var previewImage = document.getElementById('preview-image');

    reader.onloadend = function() {
      previewImage.src = reader.result;
      previewContainer.classList.remove('hidden');
    }

    if (file) {
      reader.readAsDataURL(file);
    } else {
      previewImage.src = "";
      previewContainer.classList.add('hidden');
    }
  }
</script>

