<%= form_with(model: category, local: true, multipart: true) do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5 border-b">
    <%= f.text_field :name, class: "block shadow border-b border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder: 'Your name' %>
  </div>

  <div class="field flex justify-start w-full border-orange-300 my-8 items-center px-[2rem]">
    <%= form.file_field :icon %>
  </div>

  <div id="preview-container" class="hidden">
    <img id="preview-image" src="#" alt="Preview" class="rounded-full h-[70px] w-[70px]">
  </div>

  <div class="inline">
    <%= f.submit "Save", class: "rounded py-3 px-5 bg-green-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
