
<%= form_with(model: transaction, local: true, multipart: true, class: "contents") do |form| %>

  <% if transaction.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field flex justify-start w-full border-orange-300 my-8 items-center px-[2rem]">
    <%= form.file_field :image, class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full', onchange: 'showPreview(event)' %>
  </div> 

  <div id="preview-container" class="hidden my-8">
    <div class='border-2 p-4 border-dashed h-[300px] w-full flex justify-center items-center'>
      <img id="preview-image" class='h-full w-full object-contain' src="#" alt="Image Preview" />
    </div>
  </div>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :amount %>
    <%= form.text_field :amount, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :category_ids, "Category" %> <br>
    <div class="my-3">
      <%= form.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
        <div class="flex items-center">
          <%= cb.label(class: "mr-2") { cb.check_box + " " + cb.text } %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="inline">
    <%= form.submit "Save Transaction", class: "rounded py-3 px-5 bg-green-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>

<script>
  function showPreview(event) {
    var file = event.target.files[0];
    var reader = new FileReader();
    var previewContainer = document.getElementById('preview-container');
    var previewImage = document.getElementById('preview-image');

    reader.onloadend = function() {
      previewImage.src = reader.result;
      previewContainer.classList.remove('hidden');
    }

    if (file) {
      reader.readAsDataURL(file);
    } else {
      previewImage.src = "";
      previewContainer.classList.add('hidden');
    }
  }
</script>